@import url("https://fonts.googleapis.com/css?family=Poppins:280, 300, 400, 500, 600, 700, 800, 900&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0, 0, 0, 0.7) url('food.jpg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1 {
    margin-left: 626px;
    margin-top: 75px;
    font-size: 44px;
    color: white;
}

.left {
    display: inline-block;
    /*border:2px solid white ;*/
    left: 48px;
    top: 13px;
    position: absolute;
}

.left div {
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    left: -4px;
    position: absolute;
    color: white;
}

.left img {
    width: 100px;
    filter: invert(100%);
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-top: -50px;
    margin-left: 44px;
}


header.sticky .logo header.sticky ul li a {
    color: #000000;
}


/*.container h1 {
    color: orangered;
    margin-left: 10px;
    cursor: pointer;
    font-family: red serif;
}*/

.navbar {
    background-color: rgba(255, 192, 203, 0.163);
    border-radius: 30px;
}

.navbar ul li {
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 4px;
    transition: 3.5s;
}

.navbar ul li a:hover {
    box-shadow: 0 3px 50px orangered inset, 0 3px 50px orangered inset,
        0 3px 50px orangered inset, 0 3px 50px orangered inset;
}

.search {
    color: white;
}

.navbar input {
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}

.home {
    background-image: url("https://wallpapers.com/images/hd/food-4k-m37wpodzrcbv5gvw.jpg");
    /*background-color: black;*/
    border-radius: 50px;
    height: 218px;

}

.content {
    background: ('https://www.shutterstock.com/image-photo/italian-food-ingredients-vegetables-olive-260nw-522608407.jpg');
    align-content: center;
    color: whitesmoke;
    top: 40%;
    left: 30%;

}

.content h3 {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 620px;
    margin-top: 40px;
}

.content h1 {
    font-size: 50px;
    margin-left: 380px;
    font-family: papyrum;

}

.content p {
    text-align: center;
    margin-top: 17px;
}

.items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 178px;
    grid-column-gap:
        /*235px*/
        185px;
    grid-row-gap: 40px;
    object-fit:cover;
    /*border: 1px solid black;*/
    margin-left: -119px;
}

.item {
    text-align: justify;
    object-fit: cover;
    text-align: center;
    word-wrap: break-word;
    border: 1px solid black;
    width: 800px;

}

.item p {
    margin-left: 54px;
    width: 650px;
    margin-top: 15px;
}

.item img {
    width: 80%;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 30px;
    margin-left: 0px;
}


.img body {
    background: #ddd;
    text-align: center;
}

.img span {
    cursor: auto;
}

.item img:hover {
    transform: scale(1.04);
}

.item h4 {
    padding: 5px;
    text-align: center;
}

.item button {
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font: size 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
    margin-top: 20px;
}

.item button:hover {
    transform: scale(1.04);
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    /* margin: 1rem 0 3rem 0; */
}

.social li {
    margin: 0 10px;
}

.social a {
    text-decoration: none;
    color: red;
}

.social a i {
    font-size: 3.0rem;
    transition: color .4s ease;
}

.social a:hover i {
    color: aqua;
}

@media screen and(max-width:1000px) {
    .items {
        grid-template-columns: repeate(2, 1fr);

    }
}

@media screen and(max-width:750px) {
    .items {
        grid-template-columns: repeate(1, 1fr);
    }
}

body {
    background: #bb6f0b;
    /*background-image: url('https://wallpapers.com/images/hd/food-4k-m37wpodzrcbv5gvw.jpg');*/
}

footer {
    background: #000000;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    /*line: height 3rem;*/
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #ffffff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #bb6f0b;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    /*margin-left: 769px;*/
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 4;
    font-weight: 200;
}

header.sticky .logo header.sticky ul li a {
    color: #fcf5f5;
}