@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300');

:root {
  --color: #ffffff;
}

body {
  font-family: 'Red Hat Text', sans-serif;

}

.container {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://images.pexels.com/photos/10580198/pexels-photo-10580198.jpeg?auto=compress&cs=tinysrgb&w=1600');
  background-size: cover;
  background-position: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 70px;
  margin-top: -112px;

}

p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;

}

a {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: .875rem;

}

.blank
.other {
  width: 85%;
  min-height: 80vh;
  background-color: var(--color);
  margin-top: 200px;
  margin-left: 60px;
  margin-bottom: 70px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}

.second {
  background-image: url('https://cdn.pixabay.com/photo/2022/06/27/05/38/spices-7286739_960_720.jpg');
  background-attachment: fixed;
  height: 1200px;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

.card>a {
  margin-bottom: 2em;
}

.item {
  display: flex;
  max-width: 320px;
  background-color: rgb(204, 101, 63);
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

.img {
  width: 90%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;

}


.img-first {
  background-image: url('https://i.pinimg.com/originals/77/9d/59/779d59199a2430d1d29047f94c36b950.jpg');
  
}

.img-second {
  background-image: url('https://media.istockphoto.com/id/177043240/photo/indian-butter-chicken-curry.jpg?s=612x612&w=0&k=20&c=GnqnIWq99zDdjmOWQg0L7p3eKJTQO_bxnJTVbf8PlpM=');
}

.img-third {
  background-image: url('https://i.pinimg.com/originals/5a/2e/9b/5a2e9b122f8651f07efb9ca519ce50fd.jpg');
}

.second {
  flex-direction: row;
  gap: 1.6em;
}

.content {
  position: relative;
  z-index: 1;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: white;
  min-height: 500px;
}

.wrapper-parallax {
  margin-top: 100px;
  margin-bottom: 60px;
}

.left {
  display: inline-block;
  /*border:2px solid white ;*/
  left: 69px;
  top: 20px;
  position: absolute;
}

.left div {
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  left: -4px;
  position: absolute;
  color: white;
}

.left img {
  width: 100px;
  filter: invert(100%);
}

footer {
  background: black;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 30px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials li:hover i {
  color: aqua;
}

.footer-bottom {
  background: rgb(204, 101, 63);
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  color: white;
  font-size: 15px;
  word-spacing: 4px;
  text-transform: capitalize;
  text-align: center;
  margin-left: 760px;
}